img {
   
    height: 200px;
    width: 200px
}

html {
    text-align: center;
}
html {
    background-color: antiquewhite;
}
h1 {
    color:aliceblue ;
    background-color: black;
    
}
